* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  width: 96%;
  margin: 2%;
  background-color: rgb(230, 182, 225);
}

.slider {
  height: 40vh;
  width: 96%;
  background-color: rgb(241, 221, 135);
  margin: 2%;
}

.main {
  background-color: blue;
  margin: 2%;
}

.main_title {
  height: 10vh;
  width: 100%;
  background-color: rgb(153, 203, 245);
  margin-bottom: 1vh;
}

.box {
  float: left;
  height: 70vh;
  width: 15%;
  background-color: rgb(153, 203, 245);
}
.center {
  width: 69%;
  margin: 0 0.5%;
}

.main::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  height: 5vh;
  width: 96%;
  margin: 2%;
  background-color: purple;
}
